#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Container{
  width: 25rem;
  height: 27rem;
  border: .2rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .5rem;
  background: #486966;

  & .display{
    border: .2rem solid black;
    border-radius: .5rem;
    background: gray;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 80%;
    height: 15%;
    text-align: end;
    padding-right: .5rem;
    font-size: 3rem;
  }
}
.containerKeys{
  border: .2rem solid black;
  border-radius: .5rem;
  width: 80%;
  height: 65%;
  display: flex;
  flex-direction: column;
  
}
.keys{
  margin: .3rem auto;
}

.button{
  width: 3rem;
  height: 3rem;
  margin:.3rem;
  font-size: 1.2rem;
  font-weight: 700;
}
#btn{
  background: #BD2A2E;
}
